django==3.2.16
djangorestframework==3.13.1
urllib3==1.26.9
xsdata==22.5
lxml==4.9.1
transmission-rpc==3.3.2
cookies==2.2.1
python-crontab==2.6.0
mysqlclient==2.1.1
dj-database-url==2.0.0
psycopg2==2.9.6
