<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transmission RSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    {% include "components/navbar.html" %}
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-3">
                {% include "components/feed_list.html" %}
            </div>
            <div class="col">
                <h4 class="ps-1">Info</h4>
                <dl class="row ps-1">
                    <dt class="col-1">Title</dt>
                    <dd class="col-11">{{feed.title}}</dd>
                    <dt class="col-1">URL</dt>
                    <dd class="col-11">{{feed.url}}</dd>
                </dl>
                <h4 class="ps-1">Matchers</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Pattern</th>
                            <th scope="col">Download Dir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in matchers %}
                        <tr>
                            <td>{{item.pattern}}</td>
                            <td>{{item.download_dir}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>