<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transmission RSS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
        #feed-list-container {
            display: block;   
        }

        .feed-url {
            word-break: break-all;
            word-wrap: break-word;
        }

        @media (max-width: 768px) {
            #feed-list-container {
                display: none;
            }
        }
    </style>
</head>
<body>
    {% include "components/navbar.html" %}
    <div class="container-fluid py-3">
        <div class="row">
            <div id="feed-list-container" class="col-xs-12 col-lg-3">
                {% include "components/feed_list.html" %}
            </div>
            <div class="col-xs-12 col-lg-9">
                <div class="row">
                    <div class="d-flex flex-row align-items-top">
                        <h4>Info</h4>
                        {% if user.is_authenticated %}
                        <a class="ms-2 py-1" role="button" data-bs-toggle="modal" data-bs-target="#feed-edit-model">
                            <i class="bi-pencil-square"></i>
                        </a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="modal fade" id="feed-edit-model" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="feed-edit-model-label" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <form action="{% url 'feed_detail' feed.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="feed-edit-model-label">Edit Feed</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="feed-title">Title</label>
                                            <input type="text" class="form-control" value="{{feed.title}}" name="title" id="feed-title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="feed-url">URL</label>
                                            <input type="text" class="form-control" value="{{feed.url}}" name="url" id="feed-url">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <dl class="row ps-3">
                        <dt class="col-xs-12 col-md-1">Title</dt>
                        <dd class="col-xs-12 col-md-11">{{feed.title}}</dd>
                        <dt class="col-xs-12 col-md-1">URL</dt>
                        <dd class="col-xs-12 col-md-11 feed-url">{{feed.url}}</dd>
                    </dl>
                </div>
                <div class="row">
                    <div class="d-flex flex-row align-items-top">
                        <h4>Matchers</h4>
                        {% if user.is_authenticated %}
                        <a class="ms-2 py-1" role="button" data-bs-toggle="modal" data-bs-target="#matcher-add-model">
                            <i class="bi-plus-circle-fill"></i>
                        </a>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="modal fade" id="matcher-add-model" data-bs-backdrop="static" tabindex="-1" aria-labelledby="matcher-add-model-label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form action="{% url 'matcher_list' feed.id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="matcher-add-model-label">Add Matcher</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="matcher-new-pattern">Pattern</label>
                                            <input type="text" class="form-control" name="pattern" id="matcher-new-pattern">
                                        </div>
                                        <div class="mb-3">
                                            <label for="matcher-new-download-dir">Download Dir</label>
                                            <input type="text" class="form-control" name="download_dir" id="matcher-new-download-dir">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="container-fluid">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Pattern</th>
                                    <th scope="col">Download Dir</th>
                                    {% if user.is_authenticated %}
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    {% endif %}                
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in matchers %}
                                <tr>
                                    <td>{{item.pattern}}</td>
                                    <td>{{item.download_dir}}</td>
                                    {% if user.is_authenticated %}
                                    <td>
                                        <a class="ms-2 py-1" role="button" data-bs-toggle="modal" data-bs-target="#matcher-edit-modal-{{item.id}}" data-bs-matcherpattern="{{item.pattern}}" data-bs-matcherpath="{{item.download_dir}}">
                                            <i class="bi-pencil-square"></i>
                                        </a>
                                        <div class="modal fade" id="matcher-edit-modal-{{item.id}}" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="matcher-edit-modal-label-{{item.id}}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <form action="{% url 'matcher_detail' feed.id item.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="matcher-add-model-label-{{item.id}}">Edit Matcher</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label for="matcher-edit-pattern-{{item.id}}">Pattern</label>
                                                                <input type="text" class="form-control" name="pattern" id="matcher-edit-pattern-{{item.id}}" value="{{item.pattern}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="matcher-edit-download-dir-{{item.id}}">Download Dir</label>
                                                                <input type="text" class="form-control" name="download_dir" id="matcher-edit-download-dir-{{item.id}}" value="{{item.download_dir}}">
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    {% endif %}                
                                    {% if user.is_authenticated %}
                                    <td>
                                        <form action="{% url 'matcher_delete' feed.id item.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-link btn-sm text-danger py-0"><i class="bi-x-circle-fill"></i></button>
                                        </form>
                                    </td>
                                    {% endif %}                
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>